/* new stuff start */
html {
  margin: 0;
  padding: 0;
  color: #000;
}

body {
  margin: 0;
  overflow-y: scroll;
}

.gwt-wrap {
  width: 1150px;
  margin: 0 auto 0 auto;
  font-family: verdana, arial, helvetica;
}

#gwt-header1, #gwt-header3 {
  min-width: 1150px;
}

#gwt-header1 {
  background: #606060;
}

#gwt-header1 .first {
  width: 290px;
  height: 10px;
  background-color: #505050;
}

#gwt-header2 {
  background: #f55837;
}

#gwt-header2 .first {
  background-color: #e54827;
  width: 290px;
  height: 100px;
  float: left;
  background-position: 47px 10px;
  background-image: url(../images/logo-wire.png);
  background-repeat: no-repeat;
}

#gwt-header2 .first h1 {
  margin-left: 147px;
  margin-top: 27px;
  font-size: 36px;
  font-weight: normal;
  color: white;
}

#gwt-header2 .second {
  background-color: #f55837;
  height: 100px;
}

.nav {
  list-style-type: none;
  height: 100px;
  margin: auto;
}

.nav li {
  float: left;
  margin-top: 13px;
  margin-left: 40px;
  margin-right: -30px;
}

.nav a, .nav a:VISITED,.nav a:LINK  {
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
  padding-bottom: 10px;
  display: block;
  line-height: 77px;
  text-decoration: none;
  font-size: 18px;
  color: #972108;
}

.nav a:HOVER {
  background-color: #e54827;
  color: white;
}

#gwt-header2 .gwt-wrap {
  position: relative;
}

#gwt-header2 .gwtcreate {
  position: absolute;
  top: 5px;
  right: 0px;
  height: 90px;
}

#gwt-header2 .gwtcreate img {
  max-width: 100%;
  max-height: 100%;
}

#gwt-header3 {
  background-color: #ceedf4;
}

#gwt-header3 .first {
  width: 290px;
  height: 40px;
}

/* search box */
#gwt-header3 .first > div {
    width: 290px;
}

#gwt-header3 .first > div > div,
#mobileSearch > div > div {
    padding: 0;
}

#mobileSearch {
    display:none;
}

#gwt-header3 .beta-info {
  float: right;
  font-size: 50%;
  margin-top: -20px;
  padding-left: 5px;
  color: red;
}

#gwt-toc {
  float: left;
  width: 270px;
  padding: 10px;
  overflow: hidden;
  background: #efefef;
  z-index: 1;
}

#gwt-toc ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 15px;
}

#gwt-toc li {
  margin: 0;
  font-size: 12px;
  line-height: 22px;
}

#agwt-toc li.open > ul > li {
  margin-left: 18px;
  -webkit-transition: margin-left 1s ease 0s;
  transition: margin-left 1s ease 0s;
}

#gwt-toc li > span {
  background-image: url("../images/arrow-closed.png");
  background-repeat: no-repeat;
  background-position: 0 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

#gwt-toc li.open > span{
  background-image: url("../images/arrow-open.png");
}

#gwt-toc li > a {
  padding-left: 15px;
}

#gwt-toc li > span + a {
  padding-left: 0px;
}

#gwt-toc a, #gwt-toc a:VISITED{
  color: #837b7a;
  text-decoration: none;
}

#gwt-toc a:HOVER {
  color: #0aa7c8;
  text-decoration: none;
  cursor: pointer;
}

#gwt-toc a.selected {
  color:#0aa7c8;
}

#gwt-toc > ul > li:not(:last-child) {
  border-bottom: 1px dotted #d6d7da
}

#gwt-content {
  overflow: hidden;
  padding: 30px 50px 50px 30px;
  color: #564b49;
  font-size: 14px;
}

#gwt-content p, #gwt-content p li {
  text-align: justify;
}

#gwt-content a {
  color: #0aa7c8;
}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin: 0 0 40px;
}

#gwt-footer {
  clear: both;
  padding: 10px 0;
  background-color: #d5f0f6;
  border-bottom: 10px solid #606060;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.gwt-license {
  clear: both;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  color: #9eb4b9;
}

.gwt-license a {
  color: #1ab7d8;
  text-decoration: none;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;

}

th,td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}

/* markdown table */
#gwt-content thead th, #gwt-content tbody td {
  padding: 6px 13px;
  border: 1px solid rgb(255, 255, 255);
}

tbody tr:nth-child(2n) {
  background-color: rgb(248, 248, 248);
}

a:link {
  color: #0000cc;
  text-decoration: none;
}

a:active {
  color: #cc0000;
}

a:visited {
  color: #551a8b;
}

h1 {
  font-size: 29px;
  margin-top: 0px;
}

h2 {
  font-size: 30px;
  color: #f55837;
  font-weight: normal;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: small;
}

form {
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.25em;
}

pre,code,.code {
  color: #007000;
  font-family: Courier, 'Courier New', monospace;;
  font-size: 80%;
}

pre {
  border: 1px solid silver;
  background-color: #f5f5f5;
  padding: 0.5em 0 0.5em 0.5em;
  overflow: auto;
  margin-left: 2em;
}

pre code {
  font-size: 100% !important;
}

pre ins {
  color: #cc0000;
  font-weight: bold;
  text-decoration: none;
}

.header {
  margin-top: 1.5ex;
}

.details {
  margin-top: 1ex;
}

.newmark {
  color: red;
  font-size: 80%;
  vertical-align: top;
}

/* "Selected" links */
a.selected,.selected a,.selected {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a.selected:visited,.selected a:visited {
  color: black;
}

/* Header */
#gaia {
  text-align: right;
}

#header {
  height: 50px;
  margin-bottom: 11px;
  position: relative;
}

#logo {
  padding-right: 18px;
  position: absolute;
  left: 0;
  top: -5px;
}

#logo img {
  width: 153px;
  height: 55px;
}

#title {
  border-top: 1px solid #3366cc;
  background-color: #e5ecf9;
  font-size: large;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 5px;
}

#title,#breadcrumbs {
  margin-left: 174px;
  padding-left: 3px;
}

#breadcrumbs {
  margin-top: 3px;
}

/* Side panel section */
#side {
  width: 167px;
  margin-bottom: 3em;
  float: left;
}

/* Menu */
#menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 1em;
}

#menu ul ul {
  margin-left: 10px;
  margin-bottom: 0;
}

#menu li {
  margin-top: 4px;
}

#menu h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

/* Search box */
#search {
  margin-top: 2em;
}

#search .header {
  font-weight: bold;
  font-size: 90%;
  margin-bottom: 1px;
}

#search .button {
  margin-top: 1px;
}

#search .input input {
  width: 125px;
}

/* Body */
#body {
  border-left: 1px dotted silver;
  margin-left: 169px;
  margin-right: 25px;
  padding-left: 18px;
  padding-bottom: 25px;
}

/* Footer */
#footer {
  clear: both;
  text-align: center;
  margin-top: 3.5em;
  margin-bottom: 1em;
  background-image: url("http://www.google.com/images/art.gif");
  height: 53px;
  background-repeat: no-repeat;
  background-position: left center;
}

#footer .text {
  padding-top: 20px;
}

/* Download links */
div.download {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

div.download a {
  border: 1px solid #3366cc;
  background-color: #e5ecf9;
  padding: 0.5em;
  position: relative;
  font-weight: bold;
}

/* Terms of Service form */
.termsagree {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #e5ecf9;
  padding: 0.5em;
}

.termsagree .button {
  padding-top: 0.5em;
}

.termsagree .text {
  font-weight: bold;
}

.termsagree .text .printable {
  font-weight: normal;
}

.termsagree .text,.termsagree .button {
  padding-left: 5px;
}

/* Print styles */
@media print {
  .noprint {
    display: none;
  }
  #header,#side,#gaia {
    display: none;
  }
  #body {
    margin: 0;
    border: 0;
    padding: 0;
  }
}

/* base css end */

/* Use these styles only for old GWT files that use <h1> for main section headings that need a blue background */

/* NOTE: THESE STYLES ARE NOT SEEN BY MOST FILES THAT ARE MISSING LATEST BOILERPLATE */
/* This is a temporary old GWT h1 style with blue background and top border */
/* Eventually remove this and replace all h1 with h2, which have this style in new EZT boilerplate */
#gc-pagecontent h1 {
  background-color: #E5ECF9;
  border-top: 1px solid #3366CC;
  font-size: 130%;
  font-weight: bold;
  margin: 2em 0 0 -10px;
  padding: 1px 3px;
  position: relative;
}

/* This is a temporary old GWT h2 style with NO blue background or top border */
/* Eventually remove this and replace all h2 with h3 */
#gc-pagecontent h2 {
  background-color: #FFF;
  border-top: 1px none;
  font-size: 130%;
  font-weight: bold;
  margin: 1.5em 0 0;
  padding: 0;
}

/* This is a temporary old GWT h3 style with smaller font */
/* Eventually remove this and replace all h3 with h4 */
#gc-pagecontent h3 {
  font-size: 110%;
  margin: 0.7em 0 0;
  position: relative;
  top: 0.4em;
}

/* Mostly used for adding borders to images */
.border {
  border: 1px solid;
}

.indent {
  margin-left: 40px;
}

.imagegap {
  margin-top: 6px;
  margin-bottom: 12px;
}

.author {
  background-color: yellow;
}

/* TODO: Need to update all pages with latest boilerplate: link local_extensions.css */
pre {
  overflow: visible;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  -moz-background-clip: -moz-initial;
  -moz-background-origin: -moz-initial;
  -moz-background-inline-policy: -moz-initial;
}

table,tr,td {
  border: 1px none #FFF;
}

#gc-toc li li li li a {
  font-size: 90%;
}

/* Used in the left nav for "PDF" */
sup {
  font-size: 50%;
  color: blue;
}

/* A heading between <h1> and <h2>, for grouping <h2> sections. Use: <h2 class="h2-group"> */
.h2-group {
  line-height: 130%;
  font-size: 170% !important;
  font-weight: bold;
  margin: 2em 0 0 -10px;
  padding: 0;
  border: none;
  border-top: 1px solid #36C;
  border-bottom: 1px solid #36C;
  background-color: #E5ECF9;
}

/* For red superscript version number to use in <sup>. Used in left nav to mark GA, next and future releases */
.version-sup {
  color: red;
  text-decoration: none;
}

/* DECIDED NOT TO USE FOR NOW -- INSTEAD, HARD-CODE SUPERSCRIPT VERSION NUMBERS IN TEXT */
/* For red superscript version number to use in <sup>. Used in left nav */
/* .next-sup:before {
 *   content: "Next";
 *   color: red;
 *   text-decoration: none;
 * }
 * .future-sup:before {
 *   content: "Future";
 *   color: red;
 *   text-decoration: none;
 * }
 */

/* For use, see internal-only page http://code.google.com/webtoolkit/DOC_PRODUCTION/version-markup.html */
.next,.future {
  background-color: #ffffde;
  padding: 5px;
  margin-top: 1em;
}

.next:before {
  content: "In the next version (2.6)";
  color: red;
  font-weight: bold;
}

.future:before {
  content: "Coming in a future version (post-2.6)";
  color: red;
  font-weight: bold;
}

.next2,.future2 {
  background-color: #ffffde;
  padding: 5px;
}

/* Version menu style sheet */
hr {
  color: #999;
  margin: 4px 0;
  size: 1px;
  border-style: solid;
  border-collapse: collapse;
  border-top-width: 1px;
  border-bottom-width: 0px;
}

/* The memberbar styles are for navigation bar pull-down menus for members */
.memberbar {
  margin: 1px 0 0 0;
  padding: 0;
  border-collapse: collapse !important;
}

.memberbar tr {
  border: none;
}

.memberbar td {
  padding-left: 0;
  padding-right: 0;
}

.memberbar .menutrigger {
  padding: 2px 3px 1px 3px;
}

.memberbar .menutrigger a { /*  font-weight: bold;  NOT WANTED FOR GWT */
  font-size: 100%;
  padding: 0px;
  /* DELETE NEXT THREE LINES WHEN href="" onclick="return false;" IS ADDED TO 2nd ROW OF MENU BAR */
  cursor: pointer;
  color: #00D;
}

.memberbar .menu a {
  display: block;
  margin: 0;
  /* Right padding is room for vertical scroll bar */
  padding: 1px 25px 1px 2px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  white-space: nowrap;
  font-size: 100%;
}

.memberbar .menu {
  position: absolute;
  margin: 0;
  padding: 0;
  background: #FFF;
  border: 1px solid #333;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 20;
}

.memberbar .menu .member,.memberbar .menu .inherited {
  padding-left: 10px;
}

.memberbar .menu .inherited {
  font-size: 95%;
}

.memberbar .menu .summary {
  margin-left: 0px;
  padding-left: 3px;
}

.memberbar .menu a[href]:hover {
  background: #EEF;
  text-decoration: underline;
}

.memberbar a.dim {
  color: #777;
  text-decoration: none;
  cursor: default;
}

/* Used in webtoolkit/versions.ezt */
.release {
  margin-bottom: 2em;
}

.release .version {
  margin-bottom: 0;
}

.release .date {
  margin-top: 0;
  margin-bottom: 1em;
  color: gray;
}

.release .date a:link {
  color: #7777cc;
}

.release .downloads {
  border-collapse: separate;
}

.release .downloads th {
  text-align: left;
  background-color: #ceedf4;
  padding: 3px;
}

.release .downloads td {
  background-color: #f4f4f4;
  padding: 3px;
  text-align: left;
}

.release .downloads tr.even td {
  background-color: #eeeeee;
}

span.new {
  vertical-align: super;
  color: #cc0000;
  font-size: 80%;
}

iframe[name='StockWatcher'] {
  border: solid 1px grey;
  padding: 20px 0px 0px 75px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 6px #ccc;
  width: 550px;
  height: 350px;
}

#nav-mobile {
  display: none;
}

#gwt-toc, #gwt-content, .gwt-wrap, .first, .second, .gwtcreate, img {
   transition: all 0.4s linear;
}

#editLink {
  margin-bottom: 15px;
  width: 100%;
}

#editLink > a {
  background: rgb(245, 88, 55);
  padding: 0.5em;
  color: white;
  border-radius: 2px;
  border: 1px solid rgb(229, 72, 39);
  float: right;
  margin-bottom: 15px;
}

/* tablet */
@media screen and (max-width: 1024px) {
  .gwt-wrap {
    width: 960px;
  }
  #gwt-header1, #gwt-header3 {
    min-width: 960px;
  }
  #gwt-toc {
    width: 230px;
  }

  /* search box */
  #gwt-header3 .first > div {
    width: 250px;
  }

  #gwt-content {
    padding: 15px 15px 50px 15px;
  }
  #gwt-header2 .first, #gwt-header3 .first {
    width: 250px;
  }
  #gwt-header2 .gwtcreate {
    height: 75px;
  }
}
/* mobile phone */
@media screen and (max-width: 768px) {
  /* Show hide some elements */
  #nav-desktop, #gwt-toc, #gwt-header3, #gwt-header1 {
    display: none;
  }
  #nav-mobile, #gwt-toc.show {
    display: block;
  }
  /* Button to show/hide menu */
  #nav-mobile {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  #nav-mobile li {
    margin: 0px;
  }
  #nav-mobile a {
    font-size: 38px;
    line-height: 38px;
    font-weight: bold;
    padding: 0px;
    margin: 15px 0px 0px 0px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  /* menu */
  #gwt-toc {
    position: absolute;
    width: auto;
    min-width: 40%;
    top: 5px;
    left: 10px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(1.5);
    transform-origin: 0 0;
    transform: scale(1.5);
    box-shadow: 3px 3px 10px 1px #ccc;
    padding: 4px;
    border: 1px solid rgb(187, 174, 174);
    border-radius: 10px;
  }
  /* content */
  #gwt-content {
    float: left;
    width: 100%;
    padding: 15px 0px 50px 0px;
  }

  #gwt-content img, iframe[name='StockWatcher'] {
    max-width: 100%;
  }
  #gwt-content pre {
    margin-left: 0px;
  }
  #gwt-content h1, #gwt-content h2, #gwt-content h3 {
    font-size: 20px;
  }
  .gwt-wrap {
    width: 95%;
    padding: 0px 7px 0px 7px;
  }
  /* Reduce GWT header */
  #gwt-header2 .first {
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(0.6);
    transform-origin: 0 0;
    transform: scale(0.6);
  }
  #gwt-header2 .second {
     height: 70px;
  }
  /* If .gwtcreate is present reduce and move it */
  #gwt-header2 .gwtcreate {
    right: 52px;
    max-width: calc(100% - 50px);
    height: 62px;
  }

  body {
    margin: 0;
  }

  #gwt-footer {
    position: inherit;
  }

  #mobileSearch {
    display: block;
    position: absolute;
  }
}

@media print {
   #gwt-header1,
   #gwt-header2 .second,
   #gwt-header3,
   #gwt-toc,
   #gwt-footer {
     display: none;
   }
   #gwt-content {
     padding: 0px 10px 0px 10px;
   }
   #gwt-header2 .first h1 {
     margin: 0px;
   }
   #gwt-header2 .first {
     float: none;
     height: auto;
   }
}
