{% include "web-toolkit/_local_variables.html" %}
<!DOCTYPE html>
{% include "web-toolkit/_dir_variables.html" %}
<html devsite>
  <head>
    <title>Tools and Libraries</title>
    <meta name="project_path" value="/web-toolkit/_project.yaml" />
    <meta name="book_path" value="/web-toolkit/_book.yaml" />
  </head>
  <body>

{## END OF BOILERPLATE ###}

  <style>
    ul.toolsList li {
        margin-bottom:1em; 
  }
    
  ul.toolsList li a:visited,
  ul.toolsList li a:link,
  ul.toolsList li a:hover,
  ul.toolsList li a:active,
  ul.toolsList li a:focus {
    font-weight:bold;
  }
      
  .pay {
   color: #008000; 
  }
       
   ul.toolsList li p.toolsDescription {
     margin-left:2em;
     margin-top:3px; 
   }
   #body {
     max-width:700px;
   }
   </style>

<p>Below we have assembled a list of useful software tools for development with the Google Web Toolkit.</p>

<p>Please note that many of the resources linked from this page are provided by third-parties and are not endorsed by Google. Please direct any questions about these resources to the
appropriate contact listed below.</p>

<ul class="toolsList">

  <li>
		<a href="http://www.myeclipseide.com/me4s/" title="MyEclipse for Spring">MyEclipse for Spring</a>
		<p class="toolsDescription">MyEclipse for Spring is an Eclipse-powered IDE for building Spring-based applications. GWT scaffolding capabilities allow you to quickly generate full, ready-to-run GWT applications from existing artifacts, including DB tables, Java Beans and JPA Entities.</p>
  </li>
  <li>
    <a href="/web-toolkit/googleapilibraries" title="Google API Libraries for Google Web Toolkit">Google API Libraries for GWT</a>
    <p class="toolsDescription">These open source libraries provide Java language support for incorporating Google JavaScript APIs in web applications built with GWT.</p>
  </li>
 <li><a href="/web-toolkit/doc/{{ release_path }}/tutorial/roo-sts" style="margin-top: -6px;">SpringSource Tools</a><sup style="color: red; vertical-align: 4px; padding-left: 5px;">2.1</sup>
    <p class="toolsDescription">The SpringSource developer tools makes it easy to develop rich web apps for business, bringing together GWT, <a href="http://www.springsource.org/roo">Spring Roo</a>, and <a href="http://www.springsource.com/products/sts">SpringSource Tool Suite (STS)</a>.</p>
  </li>
  <li>
    <a href="http://www.jetbrains.com/idea/features/gwt.html?google" title="GWT Studio">JetBrains GWT Studio</a>
    <p class="toolsDescription">GWT Studio is a plugin for IntelliJ IDEA. GWT Studio allows you to quickly generate GWT elements and sample applications in IntelliJ IDEA. Other features include localization support and syntax highlighting.</p>
  </li>
  <li>
    <a href="http://www.netbeans.org/kb/docs/web/quickstart-webapps-gwt.html" title="NetBeans IDE Support for GWT">NetBeans IDE Support for GWT</a>
    <p class="toolsDescription">NetBeans is a free, open-source IDE that allows developers to build web applications using GWT. Using the <a href="https://gwt4nb.dev.java.net/">GWT4NB plug-in</a>, the IDE fully integrates with the GWT environment providing the code generation and debugging tools necessary for rapid development.</p>
  </li>
  <li>
    <a href="http://gwt-widget.sourceforge.net/" title="GWT Widget Library">GWT Widget Library</a>
    <p class="toolsDescription">Robert Hanson's GWT Widget Library includes open-sourced widgets you can use in developing your GWT application. The library includes easy support for pagination and calendars. </p>
  </li>
  <li>
    <a href="http://www.gwtwindowmanager.org/" title="GWT Window Manager">GWT Window Manager</a>
    <p class="toolsDescription">GWT Window Manager, an open source project, provides a desktop-like, themeable windowing library based on GWT's widget library.</p>
  </li>
  <li>
    <a href="http://www.wirelexsoft.com/VistaFei.html" title="VistaFei for Google Web Toolkit">Wirelexsoft VistaFei for Google Web Toolkit</a>
    <p class="toolsDescription">VistaFei for Google Web Toolkit is a visual IDE for building web applications with GWT. VistaFei lets you easily design your application with a drag-and-drop interface. Like GWT, VistaFei is available for development on Windows, Mac OS X, and Linux</p>
  </li>
</ul>

<p>You can also find a wide variety of open source <a href="http://code.google.com/hosting/search?q=GWT&btn=Search+Projects">projects related to GWT</a> hosted on Google Code.</p>

<p>If you believe that a resource should be added or removed, please <a href="mailto:gwt-third-party@google.com">let us know</a>. If you are developing new tools related to the Google Web Toolkit, please review our <a href="http://www.google.com/permissions/guidelines.html">branding guidelines</a>.</p>


  {% include "web-toolkit/_ccnotice.html" %}</body>
</html>

