name: Build GWT Site

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Java 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'temurin'
          cache: 'maven'
      - name: Build with Maven
        run: mvn  -e --batch-mode --no-transfer-progress verify -Pgrunt

      - name: Upload artifact for testing/deployment
        uses: actions/upload-artifact@v3
        with:
          name: gwt-site
          path: 'target/generated-site/'
